.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: transparent;
  transition: all 0.4s ease;
}

.navbar {
  width: 100%;
  max-width: var(--container);
  margin: 0 auto;
  padding: 22px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h2{
    font-family: var(--heading-font);
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1;

    cursor: pointer;
}
.logo p{
    font-size: .75rem;

    color: var(--text-secondary);

    letter-spacing: 3px;

    text-transform: uppercase;

    margin-top: 6px;
}

.logo span {
  color: var(--accent);
}
.nav-links ul {
  display: flex;
  align-items: center;
  gap: 45px;
}

.nav-links li {
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-primary);
  cursor: pointer;
  transition: var(--transition);
}

.nav-links li:hover {
  color: var(--accent);
}

.nav-links li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;

  width: 0;
  height: 2px;

  background: var(--accent);

  transform: translateX(-50%);
  transition: var(--transition);
}

.nav-links li:hover::after {
  width: 100%;
}

.nav-btn button{
    display:flex;
    align-items:center;
    gap:12px;

    background:var(--accent);

    color:#111;

    padding:15px 32px;

    border-radius:50px;

    border:2px solid var(--accent);

    font-weight:600;

    transition:var(--transition);
}
.nav-btn button{
    display:flex;
    align-items:center;
    gap:12px;

    background:var(--accent);

    color:#111;

    padding:15px 32px;

    border-radius:50px;

    border:2px solid var(--accent);

    font-weight:600;

    transition:var(--transition);
}
.nav-btn button:hover span{
    transform:translateX(6px);
}
.nav-btn button:hover {
  background: transparent;
  color: var(--accent);
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(212, 175, 55, 0.25);
}