.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: transparent;
    transition: all .4s ease;
}

.navbar{
    width: 100%;
    max-width: var(--container);

    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 25px 40px;
}

.logo h2{
    font-family: var(--heading-font);

    font-size: 2rem;

    font-weight: 600;

    letter-spacing: 1px;

    color: var(--text-primary);

    cursor: pointer;
}

.nav-links ul{
    display:flex;
    align-items:center;
    gap:45px;
}

.nav-links li{
    position:relative;

    font-size:.95rem;

    font-weight:500;

    color:var(--text-primary);

    cursor:pointer;

    transition:var(--transition);
}
.nav-links li:hover{
    color: #D4AF37;
}
.nav-btn button{
    padding: 14px 28px;
    border-radius: 50px;
    cursor: pointer;
    background: #D4AF37;
    color: #111;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    transition: var(--transition);
}
.nav-btn button:hover{
    transform: translateY(-3px);
}
